---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getCountryByCode } from "@/utils/countries";
import type { ICountryCode } from "@/utils/countries";

interface Props {
  memberEntry: CollectionEntry<"members">;
}

const { memberEntry }: Props = Astro.props;

const member = memberEntry.data;
const memberCountry = member.pais ? getCountryByCode(member.pais) as ICountryCode : null;
---

<!-- Convertir el div exterior en un enlace -->
<a
  href={`/miembros/${memberEntry.slug}`}
  class="group relative block rounded-xl outline-none ring-zinc-500 transition duration-500 focus-visible:ring dark:ring-zinc-200 dark:focus:outline-none"
>
  <!-- El resto del contenido se mantiene igual -->
  <div
    class="relative h-[350px] w-full flex-shrink-0 overflow-hidden rounded-xl before:absolute before:inset-x-0 before:z-[1] before:size-full before:bg-gradient-to-t before:from-neutral-900/[.7]"
  >
    <Image
      class="absolute start-0 top-0 size-full object-cover transition duration-500 group-hover:scale-110"
      src={member.imagen}
      alt={member.nombre}
      draggable={"false"}
      loading={"eager"}
      format={"avif"}
    />
  </div>

  <div class="absolute inset-x-0 bottom-0 z-10">
    <div class="flex h-full flex-col p-4 sm:p-6">
      <h3
        class="text-balance text-lg font-bold text-neutral-50 group-hover:text-neutral-50/[.8] sm:text-3xl"
      >
        {member.nombre}
        {memberCountry && memberCountry.emoji}
      </h3>
      <p class="text-pretty text-neutral-50/[.8]">
        {member.empresa?.cargo || "Profesional independiente"}
      </p>
      <p class="text-pretty text-neutral-50/[.8] text-sm">
        {member.empresa?.nombre && `${member.empresa.nombre}, `}
        {memberCountry && `${memberCountry.name}`}
      </p>
    </div>
  </div>
</a>
